<h1><%= title %></h1>

<% if (books) { %>
    <% books.forEach(book => { %>
        <li>
            <a href=<%= book.url %>><%= book.title %></a>
            (<%= book.author.name %>)
        </li>
    <% }) %>
<% } else { %>
    <li>There are no books</li>
<% } %>
