<!DOCTYPE html>
<html>

<head>
    <title><%= typeof title !== 'undefined' ? title : 'Error' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- body %>
</body>

</html>